.voyage_detail_header {
  background-color: blue;
  padding: 15px;
  font-size: large;
  font-weight: bold;
}

.selected-journey {
  padding: 15px;
  font-size: 20px;
  font-weight: 800;
}

.time {
  font-size: large;
  font-weight: bold;
}

.duree {
  font-size: 13px;
}

.adresse {
  font-size: large;
  font-weight: bold;
}

.button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  background-color: green;
  color: white;
  font-size: large;
}
